@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8faff;
  --primary: #4f46e5;
  --secondary: #6366f1;
  --sidebar: #ffffff;
}

body {
  background: var(--background);
  color: #1e293b;
  font-family: 'Inter', sans-serif;
}
